*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
}

.cursor-pointer{
  cursor: pointer;
}

.display-inline-block{
  display: inline-block;
}

.w-3{
  width: 3%;
}

.w-97{
  width: 97%;
}

.w-94{
  width: 94%;
}