*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
}

.cursor-pointer{
  cursor: pointer;
}

.display-inline{
  display: inline-block;
}

.w-10{
  width: 3%;
}

.w-80{
  width: 97%;
}